.first{
    border:2px solid white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.second{
    border: 1px solid white;
    width: 310px;
    height: 2px;
}

.third{
    height: 10px;
    border: 2px solid white;
}