.space{
    word-spacing: 4px;
}
.space2{
    word-spacing: 12px;
}
.border1{
    border: 1px solid white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.border2{
    border: 1px solid white;
    width: 67.3px;
    background: white;
}

.border3{
    border: 1px solid white;
    background: white;
    width: 1px;
    height: 6px;
}

.mainGrid{
    display: grid;
    justify-content: center;
    grid-template-areas: 'pirveli serv'
                         'pirveli serv'
                         'pirveli meore'
                         'mesame meore'
                         'mesame meotxe'
                         'mexute meotxe'
                         'mexute meeqvse'
                         'mexute meeqvse';
                         row-gap: 15px;
}

.grid1{
    grid-area: pirveli;
}
.grid2{
    grid-area: serv;
}
.grid3{
    grid-area: meore;
}
.grid4{
    grid-area: mesame;
}
.grid5{
    grid-area: meotxe;
}
.grid6{
    grid-area: mexute;
}
.grid7{
    grid-area: meeqvse;
}


@media (width >=768px){
    .space{
        word-spacing: 15px;
    }
}

@media (min-width: 1280px) {
    .mainGrid {
      display: grid;
      justify-content: center;
      grid-template-areas:  'serv pirveli'
                            'serv pirveli'
                            'meore pirveli'
                            'meore mesame'
                            'meotxe mesame'
                            'meotxe mexute'
                            'meeqvse mexute'
                            'meeqvse mexute';
      row-gap: 150px;
      column-gap: 450px;
    }

    .grid1{
        position: relative; 
        bottom: 35%;
        left: 5%;
    }
    .grid3{
        position: relative;
        bottom: 110%;
    }
    .grid4{
        position: relative;
        bottom: 55%;
        left: 5%;
    }
    .grid5{
        position: relative;
        bottom: 20%;
    }
    .grid6{
        position: relative;
        top: 17%;
        left: 5%;
    }
    .grid7{
        position: relative;
        top: 50%;
    }
  }
  