.bord{
    border: 1px solid white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.grid{
    display: grid;
    grid-template-areas:'pirveli meore'
                        'pirveli mesame'
                        'pirveli mesame'
                        'meotxe mesame'
                        'meotxe mesame'
                        'meotxe meeqvse'
                        'mexute meeqvse'
                        'mexute meshvide';
                        gap: 20px;
}

.gridd{
    grid-area: pirveli;
}
.grid2{
    grid-area: meore;
}
.grid3{
    grid-area: mesame;
}
.grid4{
    grid-area: meotxe;
}
.grid5{
    grid-area: mexute;
}
.grid6{
    grid-area: meeqvse;
}
.grid7{
    grid-area: meshvide;
}



p{
    word-spacing: 7px;
}